@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');


.html, body{
    font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", sans-serif;
    line-height: 1.4;
    background-color: white;
    
}

body{
    max-width: 850px;
    margin: 0 auto;
}


a {
    color: blue;
}

.spacer {
    margin:0 auto;
}

h1, h2, h3, p, li {
    color: black;
}


h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin: 0;

}

h2 {
    background-color: #d0cece;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

h3 {
    margin: 0;
    display: flex;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: #2f5496;
    padding: 0px 10px;
    
}

p {
    padding: 0px 10px;
    margin-block-end: 3px;
    margin-block-start: 3px;
}

ul {
    margin: 0px;
}

li {
    margin: 3px;
}


/* =============
Header
============= */
.headerTitle {
    display: flex;
    justify-content: center;
}

.headerInfo {
    margin-bottom: 3px;
}

.headerInfo > ul {
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow:scroll;
}

.headerInfo > ul > li {
    list-style-type: none;
    font-size: .9em;
    margin-bottom: 1px;
}

.headerInfo > ul > li:not(:last-child) {
    margin-right: 1px;
}

.headerInfo > ul > li:not(:last-child):after {
    content: "|";
    margin-left: 8px;
}

/* =============
Content
============= */
.list-section > li {
    list-style-type: square;
    font-size: 10px;
}

.list-section{
    padding-left:30px;
}

.company-name {
    margin: 0;
    border-bottom: 1px solid #d9e2f3;
}


/* Media Queries */
@media (max-width: 1200px) {
    .headerInfo > ul {
        font-size: 12px;
    }
}

@media (max-width: 960px) {
    .headerInfo > ul {
        font-size: 10px;
    }
    h3{
        font-size: 12px;
    }
}

@media (max-width: 768px) {
    .headerInfo > ul {
        font-size: 9px;
    }
    h3{
        font-size: 12px;
    }
}

@media (max-width: 576px) {
    .headerInfo > ul > li {
        font-size: 10px;
    }
    .list-section > li {
        font-size: 10px;
    }
    p{
        font-size: 10px;
    }
    h3{
        font-size: 11px;
    }
}

button{
    background-color: #3BFF31;
    color: #1e1e1e;
    font-family: 'VT323', monospace;
    font-size: 20px;
    margin: 3px 6px;
}

button:hover{
    text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    color: white;
}
button:active{
    background-color: #40AE3B;
}

/* QRCODE modal */
.modal {
	display: none;
	position: fixed;
	z-index: 100;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
	max-width: 300px;
	text-align: center;
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
