.big-screen{
    border: 3px solid #3BFF31;
    background-color: #1E1E1E ;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;    
}
    
    .topbar{
        display: flex;
        position: sticky;
        z-index: 1000;
        justify-content: space-between;
        background-color:#3BFF31 ;
        align-items: center;
        color: #2e2e2e;
        font-size: 34px;
    }
    
    #exit{
        width: 20px;
        height: 20px;
    }
    

.page_title{
    align-self: center;
    padding: 15px;
    max-width: 200px;
    font-size: 30px;
    border: 2px solid #3BFF31;
    margin: 10px;
}
.header{
    display: flex;
    justify-content: space-around;
}