.small-screen{
    border: 3px solid #3BFF31;
    background-color: #1E1E1E ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    max-width: 50%;
    margin-bottom: 50px;
}


.topbar{
    display: flex;
    background-color:#3BFF31 ;
    align-items: center;
    color: #2e2e2e;
    font-size: 24px;
    width: 100%;
}

.small_title{
    font-size: 24px;
    margin: 0px;
    text-decoration: underline;
    padding: 10px;
}


.small_sub_title{
    font-size: 20px;
    margin: 0px;
    color:#40AE3B;
    text-align: justify;
    padding: 0px 10px
}

.small_text{
    color: #40AE3B;
    font-size: 16px;
    text-align: start;
}

.small_img{
    width: 100%;
}

.small_ascii{
    font-size: 10px;
     padding: 10px;
}
