.small-container{
    display: flex;
    flex-direction: column;
	justify-content: center;
    align-items: center;
}



.topbar-small {
	display: flex;
	background-color: #40AE3B;
	align-items: center;
	color: #2e2e2e;
	font-size: 24px;
	width: 100%;
}

video{
	border: 3px solid #D9D9D9;
	width:80%
}

@media only screen and (max-width: 768px) {
	.small-screen {
		border: 3px solid #40AE3B;
		background-color: rgba(30, 30, 30, 0.8);
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 20px 5px 0;
		max-width: 660px;
	}

	
.topbar-small {
	font-size: 17px;
}
	
.small_title {
	font-size: 18px;
	margin: 4px 4px 0;
	text-decoration: underline;
}

.small_sub_title {
	font-size: 14px;
	margin: 0px;
	color: #3BFF31;
	padding: 0px 12px;
	text-align: justify;
	text-wrap: wrap;
	margin-top: 4px;
}


.small_text {
	color: #40ae3b;
	font-size: 14px;
	text-align: start;
	padding: 0px 10px;
	margin: 2px 4px;
}

.small_img {
	width: 80%;
	border: 2px solid #D9D9D9;
	padding: 2px;
	margin-bottom: 10px;
}

.small_ascii {
	font-size: 7px;
	padding: 15px;
}
}

@media only screen and (min-width: 769px) {
.small-screen {
	border: 3px solid #40AE3B;
	background-color: rgba(30, 30, 30, 0.8);
	display: flex;
	flex-direction: column;
	justify-content: center;
    align-items: center;
	margin: 50px 10px 0;
    min-width: 500px;
    max-width: 660px;
}
.small_title {
	font-size: 27px;
	margin: 10px 5px 0;
	text-decoration: underline;
}

.small_sub_title {
	font-size: 23px;
	margin: 0px;
	color: #3BFF31;
	padding: 0px 12px;
	text-align: justify;
	text-wrap: wrap;
	margin-top: 4px;
}


.small_text {
	color: #40ae3b;
	font-size: 23px;
	text-align: start;
	padding: 0px 10px;
	margin: 5px 10px;
}

.small_img {
	width: 80%;
	border: 2px solid #D9D9D9;
	padding: 2px;
	margin-bottom: 10px;
}

.small_ascii {
	font-size: 8px;
	padding: 10px;
}	
}