.welcome-container{
    text-align: center;
    margin-top: 100x;
    width: 100dvw;
    height: 100dvh;
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    font-size: 15px;
}

#typewriter {
    overflow: hidden; 
    border-right: .10em solid #3BFF31; 
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: .01em; 
    max-width: 9.5em;
    animation: 
      typing 3.5s steps(35, end),
      blink-caret 1s step-end infinite;

}

h1{
    font-weight: normal;
    font-size: 50px;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color:#3BFF31; }
  }


.enter{
    animation: breathing 3s ease-in-out infinite;
    transition: text-shadow 1s ease-in-out, color 1s ease-in-out;
    cursor: pointer;
}

.enter:hover{
    color: #fff; /* Change text color on hover */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 
                 0 0 20px rgba(255, 255, 255, 0.6), 
                 0 0 30px rgba(255, 255, 255, 0.4); 

}


h2{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 45px;
    font-weight: normal;
    color: #40AE3B;
    margin: 0;
}


/* Keyframes for breathing effect */
@keyframes breathing {
    0% {
      transform: scale(1); /* Starting scale */
    }
    50% {
      transform: scale(1.05); /* Slightly larger at midpoint */
    }
    100% {
      transform: scale(1); /* Back to original size */
    }
  }

h3{
    position: absolute;
    bottom: 15px;
    left: 10px;
    font-size: 30px;
    font-weight: normal;
    color: #40AE3B;
    margin: 0;
}
